<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/auth/enter' method='post'>
        <input type='text' name='username'></input>
        <input type='password' name='password'></input>
        <input type='submit'/>
        </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form" action='/auth/enter' method='post'>
            <input type="text" name='username' placeholder="name"/>
            <input type="password" placeholder="password"/>
            <button>create</button>            
          </form>
        </div>
      </div>
</body>
</html>