<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form">
        <div class="register-form" action='/auth/enter' method='post'>
              Welcome {{title}}
        </div>
    </div>
</body>
</html>